DISCORD_BOT_TOKEN= the bot token goes here
DEBUG_MODE=False
STATUS_MESSAGE=.help | "hey niko"
STATUS_TYPE=playing
STATUS_LINK=https://example.com
SLOTS_COOLDOWN=60
BLACKJACK_COOLDOWN=60
ROULETTE_COOLDOWN=60
REDDIT_CLIENT_ID=xxxxxxxxx
REDDIT_CLIENT_SECRET=xxxxxxxx
GELBOORU_API_KEY=""
GELBOORU_USER_ID=""
RULE34_API_KEY=""
RULE34_USER_ID=""