modules = ["web", "python-3.11"]
[agent]
expertMode = true
integrations = ["python_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cmake", "gcc", "gnumake"]

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start the website"
mode = "sequential"
author = 53393504

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python website.py"

[userenv]

[userenv.shared]
STATUS_TYPE = "playing"
STATUS_LINK = ""
DEBUG_MODE = "True"
ROULETTE_COOLDOWN = ""
BLACKJACK_COOLDOWN = ""
SLOTS_COOLDOWN = ""
STATUS_MESSAGE = ".help | \"hey niko\""

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5678
externalPort = 80
