discord.py>=2.7.1
requests
psutil
colorama
flask
openai
aiosqlite
deep-translator
langdetect
feedparser
pillow
PyNaCl
spotipy
wavelink
aiohttp
beautifulsoup4
psycopg2-binary
aiohttp
aiosqlite
beautifulsoup4
colorama
deep-translator
discord.py
feedparser
flask
langdetect
openai
pillow
psutil
psycopg2-binary
PyNaCl
requests
spotipy
wavelink
