discord.py >= 2.7.1
requests
ctransformers
psutil
colorama
flask
openai
aiosqlite
deep-translator
langdetect
aiosqlite
colorama
deep-translator
discord.py
flask
langdetect
openai
psutil
requests
feedparser
pillow
davey
PyNaCl
openai
Pillow
aiosqlite
colorama
ctransformers
deep-translator
discord.py
feedparser
flask
langdetect
openai
Pillow
psutil
PyNaCl
requests
spotipy
wavelink
aiohttp
aiosqlite
beautifulsoup4
colorama
deep-translator
discord.py
feedparser
flask
langdetect
openai
Pillow
psutil
PyNaCl
requests
spotipy
wavelink
