DISCORD_BOT_TOKEN="the bot token goes here" # Required
DEBUG_MODE="False"
STATUS_MESSAGE='.help | "hey niko"'
STATUS_TYPE="playing" # Use: playing, watching, listening, competing, or streaming
STATUS_LINK="https://example.com" # Optional, use twitch or youtube for purple status icon (streaming only)
STATUS_DEVICE="normal" # Use: normal, embedded, desktop, vr, mobile_android, or mobile_ios
SLOTS_COOLDOWN="60" # Optional (Default=60)
BLACKJACK_COOLDOWN="60" # Optional (Default=60)
ROULETTE_COOLDOWN="60" # Optional (Default=60)
GELBOORU_API_KEY=""
GELBOORU_USER_ID=""
RULE34_API_KEY=""
RULE34_USER_ID=""
AI_INTEGRATIONS_OPENAI_BASE_URL=""
AI_INTEGRATIONS_OPENAI_API_KEY=""
HUGGINGFACE_API_KEY="" # Required for the .imagine and .edit commands
LOGGING_WEBHOOK="" # Optional (Not really recommended)
OXAPAY_API_KEY="" # Required for the donation commands to work, use the **Merchant Key** not the General or Payout keys
